@{

 }
<div class="content-wrapper">
    <div class="container">
        <a class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Create</a>
        <br/>
        <table class=" table table-bordered" id="tbl_data">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Published_On</th>
                    <th>AuthorName</th>
                    <th>AuthorEmail</th>
                    <th>AuthorMobile</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        LoadBooks();

    })


    function LoadBooks()
    {
          $.get('@Url.Action("GetBooks", "Books")', function (response) {
            console.log(response)
              $("#tbl_data").DataTable({
              
                data: response,
                columns: [
                    { data: "id" },
                    { data: "title" },
                    { data: "price" },
                    { data: "quantity" },
                    { data: "published_On" },
                    { data: "authorName" },
                    { data: "authorEMail" },

                    {
                        data: "authorMobile", render: function (authorMobile) {
                            return "+91-" + authorMobile
                        }
                    },
                    {
                        data: "id", render: function (id) {
                            return "<a href='#'><i class='fa fa-edit'></i></a>"

                        }
                    },
                    {
                        data: "id", render: function (id) {
                            return "<a href='#' onclick=deleteBook("+id+")><i class='fa fa-trash text-danger'></i>  </a>"

                        }
                    }


                ]
                })
        })

    }

    $(document).on('click', '#tbl_data tbody', function () {
        alert('hello');
        $('#dialog').dialog();
    });


    function deleteBook(id)
    {
        if (confirm("Are You Sure Want to Delete This Book Record ?"))
        {
            $.post('@Url.Action("DeleteBook","Books")', { id: id }, function (response) {
                console.log(response)
                if (response.ok)
                {
                    $("#tbl_data").DataTable().destroy();
                    LoadBooks();
                }

            })
        }
    }


    $("#eventsdata").on("click", ".btn.btn-info.btn-md", function () {
        $("#eventsdata").load("editbutton");
        $("#myModal").modal('show');
    });
} );
</script>
